h1 {
    text-transform: capitalize;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0 0 6rem 0;
    margin-top: 30px;
}



h2 {
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    font-size: 24px;
    margin-top:-150px;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    color:darkolivegreen;
    margin-top:0px;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    color:black;
}

.page {
    border: 10px olivedrab;
    background-color: whitesmoke;
    padding: 20px;
    border-radius:40px;
    display:flex;
    align-items:center;
    align-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 60vh;
    width: 30vw;
    margin: auto;
}

